.doc-card{
    background-color: #D0D4EC;
    width: 90%;
    /* height: 50%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    border-radius: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.doctorImg{
    display: block;
    margin: auto;
    width: 80vw;
}

h2{
    margin: 6% 6% 2% 6%;
}

h2 span{
    display: block;
    font-size: 50%;
    font-weight: 500;
    margin-top: 1%;
}

.doc-card p{
    text-align: justify;
    text-indent: 10%;
    margin: 0 7%;
    font-size: .7rem;
}