.Header{
    background-color: #04ADBF;
    font-size: 0.875rem;
    font-weight: bolder;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1{
    color: white;
    text-align: center;
    padding: 0px 0px 15px 0px;
    font-size: 18px;
}

.flex_header{
    display: flex;
    justify-content: space-between;
    justify-items: flex-start;
    padding: 1rem;
}

.logo{
    width: 60px;
    padding: 1rem 0 1rem 1rem;
    align-self: center;
}

.profile{
    align-self: center;
    padding: 0px 0px 0px 0px;
}