.mapCard{
    background-color: #D0D4EC;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    padding-bottom: 4%;
}

.map{
    width: 87%;
    margin: 5% 7%;
    border: none;
}

.mapCard p{
    margin: 0 7%;
    line-height: 1.57rem;
    font-size: 1rem;
    text-align: justify;
}